---
http_interactions:
- request:
    method: post
    uri: http://tstsvr.achworks.com/dnet/achws.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://achworks.com/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:SendACHTrans><tns:InpCompanyInfo><tns:Company>MYCOMPANY</tns:Company><tns:CompanyKey>SASD%!%$DGLJGWYRRDGDDUDFDESDHDD</tns:CompanyKey><tns:LocID>9505</tns:LocID><tns:SSS>TST</tns:SSS></tns:InpCompanyInfo><tns:InpACHTransRecord><tns:SSS>TST</tns:SSS><tns:LocID>9505</tns:LocID><tns:FrontEndTrace>Zfoooo</tns:FrontEndTrace><tns:CustomerName>DOE,
        JOHN</tns:CustomerName><tns:CustomerRoutingNo>123456780</tns:CustomerRoutingNo><tns:CustomerAcctNo>00002323044</tns:CustomerAcctNo><tns:OriginatorName>ff</tns:OriginatorName><tns:TransactionCode>CCD</tns:TransactionCode><tns:CustTransType>D</tns:CustTransType><tns:CustomerID>foo</tns:CustomerID><tns:CustomerAcctType>C</tns:CustomerAcctType><tns:TransAmount>575.45</tns:TransAmount><tns:CheckOrTransDate>2016-08-11T00:00:00.00000+00:00</tns:CheckOrTransDate><tns:EffectiveDate>2016-08-11T00:00:00.00000+00:00</tns:EffectiveDate><tns:Memo>????</tns:Memo><tns:OpCode>S</tns:OpCode><tns:AccountSet>1</tns:AccountSet></tns:InpACHTransRecord></tns:SendACHTrans></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://achworks.com/SendACHTrans"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><SendACHTransResponse
        xmlns="http://achworks.com/"><SendACHTransResult><SSS>TST</SSS><LocID>9505</LocID><Status>SUCCESS</Status><Details>Transaction
        record received and queued on 09/07/2016 01:37:28 PM Pacific Time [FrontEndTrace=Zfoooo].
        Server Processing Time:15.625 ms</Details><CallMethod>SendACHTrans</CallMethod><CallDateTime>2016-09-07T13:37:28.25-07:00</CallDateTime><FrontEndTrace>Zfoooo</FrontEndTrace><TotalNumErrors>0</TotalNumErrors></SendACHTransResult></SendACHTransResponse></soap:Body></soap:Envelope>
  recorded_at: Thu, 11 Aug 2016 14:13:05 GMT
recorded_with: VCR 3.0.3
