---
http_interactions:
- request:
    method: get
    uri: http://tstsvr.achworks.com/dnet/achws.asmx?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"http://achworks.com/\"
        xmlns:s=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\"
        xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" targetNamespace=\"http://achworks.com/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:documentation
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">ACHWorksWS (ACHWorks-SOAP
        4.0) is a web service (web API) by &lt;a href=\"http://www.achworks.com\"&gt;ACHWorks&lt;/a&gt;
        that provides a complete solution for Automated Clearing House (ACH) operations:
        \ Sending transactions and getting status of returns and settlements.  The
        complete API Guide can be downloaded &lt;a href=\"http://www.achworks.com/files/achworkssoapver4guide.pdf\"&gt;here&lt;/a&gt;.
        \  Please &lt;a href=\"http://www.achworks.com/contactus\"&gt;contact us&lt;/a&gt;
        for more information. Last updated on: 05/17/2013. Release Version 4.0.10HA</wsdl:documentation>\r\n
        \ <wsdl:types>\r\n    <s:schema elementFormDefault=\"qualified\" targetNamespace=\"http://achworks.com/\">\r\n
        \     <s:element name=\"ConnectionCheck\">\r\n        <s:complexType>\r\n
        \         <s:sequence>\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"InpCompanyInfo\" type=\"tns:CompanyInfo\" />\r\n          </s:sequence>\r\n
        \       </s:complexType>\r\n      </s:element>\r\n      <s:complexType name=\"CompanyInfo\">\r\n
        \       <s:sequence>\r\n          <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"SSS\" type=\"s:string\" />\r\n          <s:element minOccurs=\"0\"
        maxOccurs=\"1\" name=\"LocID\" type=\"s:string\" />\r\n          <s:el[...]
