---
http_interactions:
- request:
    method: post
    uri: http://tstsvr.achworks.com/dnet/achws.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://achworks.com/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:CheckCompanyStatus><tns:InpCompanyInfo><tns:Company>MYCOMPANY</tns:Company><tns:CompanyKey>SASD%!%$DGLJGWYRRDGDDUDFDESDHDD</tns:CompanyKey><tns:LocID>9505</tns:LocID><tns:SSS>TST</tns:SSS></tns:InpCompanyInfo></tns:CheckCompanyStatus></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://achworks.com/CheckCompanyStatus"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><CheckCompanyStatusResponse
        xmlns="http://achworks.com/"><CheckCompanyStatusResult>SUCCESS:Valid And Active
        Account</CheckCompanyStatusResult></CheckCompanyStatusResponse></soap:Body></soap:Envelope>
  recorded_at: Thu, 11 Aug 2016 14:13:05 GMT
recorded_with: VCR 3.0.3
