---
http_interactions:
- request:
    method: get
    uri: https://icheckgateway.com/API/Service.asmx?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:s=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"https://icheckgateway.com/API/\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" targetNamespace=\"https://icheckgateway.com/API/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"https://icheckgateway.com/API/\">\r\n
        \     <s:element name=\"ProcessCreditCard\">\r\n        <s:complexType>\r\n
        \         <s:sequence>\r\n            <s:element minOccurs=\"1\" maxOccurs=\"1\"
        name=\"TransactionDate\" type=\"s:dateTime\" />\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"SiteID\" type=\"s:string\" />\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"SiteKey\" type=\"s:string\" />\r\n
        \           <s:element minOccurs=\"1\" maxOccurs=\"1\" name=\"Amount\" type=\"s:double\"
        />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"T[...]
