---
http_interactions:
- request:
    method: post
    uri: https://icheckgateway.com/API/Service.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="https://icheckgateway.com/API/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:PullReturnedChecks><tns:SiteID>SEDZ</tns:SiteID><tns:SiteKey>236652</tns:SiteKey><tns:APIKey>a3GFMBGz6KhkTzg</tns:APIKey><tns:GatewayLiveMode>0</tns:GatewayLiveMode><tns:ReturnedDate>2016-08-10</tns:ReturnedDate></tns:PullReturnedChecks></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"https://icheckgateway.com/API/PullReturnedChecks"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?><soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"><soap:Body><PullReturnedChecksResponse
        xmlns=\"https://icheckgateway.com/API/\"><PullReturnedChecksResult>short_late_return|R08\nnsf|R01</PullReturnedChecksResult></PullReturnedChecksResponse></soap:Body></soap:Envelope>"
  recorded_at: Thu, 11 Aug 2016 14:13:05 GMT
recorded_with: VCR 3.0.3
