---
http_interactions:
- request:
    method: post
    uri: https://icheckgateway.com/API/Service.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="https://icheckgateway.com/API/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:PullTransactionReport><tns:SiteID>SEDZ</tns:SiteID><tns:SiteKey>236652</tns:SiteKey><tns:APIKey>a3GFMBGz6KhkTzg</tns:APIKey><tns:GatewayLiveMode>0</tns:GatewayLiveMode><tns:startDate>2016-08-10</tns:startDate><tns:endDate>2016-08-11</tns:endDate></tns:PullTransactionReport></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"https://icheckgateway.com/API/PullTransactionReport"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?><soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"><soap:Body><PullTransactionReportResponse
        xmlns=\"https://icheckgateway.com/API/\"><PullTransactionReportResult>ICHECK|N||ef69436stub0|STUB0||||||||BC|012345678|********1234|250.00|D|9/12/2016|05:03:04|C2952-1927||AutoCheck|||STUB0|CCD|||\r\nICHECK|Y||ef69436stub0|STUB0||||||||BC|012345678|********1234|250.00|D|9/12/2016|05:03:04|C2952-1927||AutoCheck|||STUB0|CCD|||\r\nICHECK|Y|9/12/2016 12:00:00 AM|cb4e1d6stub1|STUB1||||||||BC|012345678|*******1234|906.43|D|9/6/2016|05:03:01|29161||AutoCheck|||STUB1|PPD|D377B0F9AA904883A490210E379827||\r\nICHECK|R (R08)||7370d7dstub2|STUB2||||||||BC|012345678|*****1234|176.10|D|9/7/2016|05:03:03|C2952-2063||AutoCheck|9/12/2016 12:00:00 AM||STUB2|CCD|6B9A27E836994A5F96D575D5098A17||\r\nICHECK|R (R01)|9/12/2016 12:00:00 AM|c4918f8stub3|STUB3||||||||BC|012345678|********1234|178.75|D|9/6/2016|05:03:03|C01262||AutoCheck|9/9/2016 12:00:00 AM||STUB3|CCD|26680CA012BE4C71915CFB4EC5F600||\r\n</PullTransactionReportResult></PullTransactionReportResponse></soap:Body></soap:Envelope>"
  recorded_at: Thu, 11 Aug 2016 14:13:05 GMT
recorded_with: VCR 3.0.3
