---
http_interactions:
- request:
    method: post
    uri: https://icheckgateway.com/API/Service.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="https://icheckgateway.com/API/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:ProcessCheck><tns:APIMethod>ProcessCheck</tns:APIMethod><tns:SiteID>SEDZ</tns:SiteID><tns:SiteKey>236652</tns:SiteKey><tns:APIKey>a3GFMBGz6KhkTzg</tns:APIKey><tns:Amount>575.45</tns:Amount><tns:RoutingNumber>083000108</tns:RoutingNumber><tns:AccountNumber>115654668777</tns:AccountNumber><tns:AccountType>BC</tns:AccountType><tns:EntryClassCode>CCD</tns:EntryClassCode><tns:GatewayLiveMode>0</tns:GatewayLiveMode><tns:TransactionType>D</tns:TransactionType><tns:CompanyName>test
        merchant</tns:CompanyName><tns:Description>????</tns:Description><tns:TransactionDate>2016-08-11</tns:TransactionDate></tns:ProcessCheck></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"https://icheckgateway.com/API/ProcessCheck"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><ProcessCheckResponse
        xmlns="https://icheckgateway.com/API/"><ProcessCheckResult>DECLINED - Notice of Change (C02 - Change Data: 987654321)|YYYY|Merchant LLC|TEST||||||||XX|123456789|********1234|123|ff|||Y|Merchant LLC||2020-05-07</ProcessCheckResult></ProcessCheckResponse></soap:Body></soap:Envelope>'
  recorded_at: Thu, 11 Aug 2016 14:13:05 GMT
recorded_with: VCR 3.0.3
