---
http_interactions:
- request:
    method: post
    uri: http://tstsvr.achworks.com/dnet/achws.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://achworks.com/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:GetACHReturnsHist><tns:InpCompanyInfo><tns:Company>MYCOMPANY</tns:Company><tns:CompanyKey>SASD%!%$DGLJGWYRRDGDDUDFDESDHDD</tns:CompanyKey><tns:LocID>9505</tns:LocID><tns:SSS>TST</tns:SSS></tns:InpCompanyInfo><tns:ReturnDateFrom>2016-08-04T10:13:05.00000-04:00</tns:ReturnDateFrom><tns:ReturnDateTo>2016-08-11T00:00:00.00000+00:00</tns:ReturnDateTo></tns:GetACHReturnsHist></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://achworks.com/GetACHReturnsHist"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetACHReturnsHistResponse
        xmlns="http://achworks.com/"><GetACHReturnsHistResult><SSS>TST</SSS><LocID>9505</LocID><Status>SUCCESS</Status><Details>No
        records to retrieve at this time, 08/15/2016 08:15:27 AM Pacific Time. Server
        Processing Time:&lt;0.0001 ms</Details><TotalNumRecords>0</TotalNumRecords><ReturnDateFrom>2016-08-04T07:13:05-07:00</ReturnDateFrom><ReturnDateTo>2016-08-10T17:00:00-07:00</ReturnDateTo><TotalNumErrors>0</TotalNumErrors></GetACHReturnsHistResult></GetACHReturnsHistResponse></soap:Body></soap:Envelope>
  recorded_at: Thu, 11 Aug 2016 14:13:05 GMT
recorded_with: VCR 3.0.3
