---
http_interactions:
- request:
    method: post
    uri: http://tstsvr.achworks.com/dnet/achws.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://achworks.com/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:GetACHReturns><tns:InpCompanyInfo><tns:Company>MYCOMPANY</tns:Company><tns:CompanyKey>SASD%!%$DGLJGWYRRDGDDUDFDESDHDD</tns:CompanyKey><tns:LocID>9505</tns:LocID><tns:SSS>TST</tns:SSS></tns:InpCompanyInfo></tns:GetACHReturns></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://achworks.com/GetACHReturns"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetACHReturnsResponse xmlns="http://achworks.com/"><GetACHReturnsResult><SSS>TST</SSS><LocID>9505</LocID><Status>SUCCESS</Status><Details>Retrieved 9 records on 08/17/2016 11:16:26 AM Pacific Time. Server Processing Time:62.4354 ms</Details><TotalNumRecords>9</TotalNumRecords><ReturnDateFrom>2016-08-16T12:36:08.1222229-07:00</ReturnDateFrom><ReturnDateTo>2016-08-17T11:16:26.6160196-07:00</ReturnDateTo><TotalNumErrors>0</TotalNumErrors><ACHReturnRecords><ACHReturnRecord><SSS>TST</SSS><LocID>9505</LocID><SourceFile>TST9505-SCRUB.ECX</SourceFile><FrontEndTrace>WRG-SCRUB0</FrontEndTrace><ResponseCode>3RET</ResponseCode><CustTransType>D</CustTransType><BackEndSN>  54418895</BackEndSN><CustomerName>SCRUBBED</CustomerName><TransAmount>251.79</TransAmount><EffectiveDate>2016-08-15T00:00:00</EffectiveDate><ActionDate>2016-08-16T00:00:00</ActionDate><ActionDetail>R01                             </ActionDetail></ACHReturnRecord><ACHReturnRecord><SSS>TST</SSS><LocID>9505</LocID><SourceFile>TST9505-SCRUB.ECX</SourceFile><FrontEndTrace>WRG-SCRUB0</FrontEndTrace><ResponseCode>1SNT</ResponseCode><CustTransType>D</CustTransType><BackEndSN>  54418895</BackEndSN><CustomerName>SCRUBBED</CustomerName><TransAmount>251.79</TransAmount><EffectiveDate>2016-08-15T00:00:00</EffectiveDate><ActionDate>2016-08-16T00:00:00</ActionDate><ActionDetail></ActionDetail></ACHReturn[...]
