---
http_interactions:
- request:
    method: post
    uri: http://tstsvr.achworks.com/dnet/achws.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://achworks.com/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:SendACHTransBatch><tns:InpCompanyInfo><tns:Company>MYCOMPANY</tns:Company><tns:CompanyKey>SASD%!%$DGLJGWYRRDGDDUDFDESDHDD</tns:CompanyKey><tns:LocID>9505</tns:LocID><tns:SSS><tns:foo>bar</tns:foo></tns:SSS></tns:InpCompanyInfo><tns:InpACHFile><tns:SSS><tns:foo>bar</tns:foo></tns:SSS><tns:LocID>9505</tns:LocID><tns:ACHFileName
        xsi:nil="true"/><tns:TotalNumRecords>2</tns:TotalNumRecords><tns:TotalDebitRecords>2</tns:TotalDebitRecords><tns:TotalDebitAmount>1150.9</tns:TotalDebitAmount><tns:TotalCreditRecords>0</tns:TotalCreditRecords><tns:TotalCreditAmount>0</tns:TotalCreditAmount><tns:ACHRecords><tns:ACHTransRecord><tns:SSS><tns:foo>bar</tns:foo></tns:SSS><tns:LocID>9505</tns:LocID><tns:FrontEndTrace>Zfoooo</tns:FrontEndTrace><tns:CustomerName>DOE,
        JOHN</tns:CustomerName><tns:CustomerRoutingNo>123456780</tns:CustomerRoutingNo><tns:CustomerAcctNo>00002323044</tns:CustomerAcctNo><tns:OriginatorName>TBD</tns:OriginatorName><tns:TransactionCode>WEB</tns:TransactionCode><tns:CustTransType>D</tns:CustTransType><tns:CustomerID>TBD</tns:CustomerID><tns:CustomerAcctType>C</tns:CustomerAcctType><tns:TransAmount>575.45</tns:TransAmount><tns:CheckOrTransDate>2016-08-10</tns:CheckOrTransDate><tns:EffectiveDate>2016-08-10</tns:EffectiveDate><tns:Memo>????</tns:Memo><tns:OpCode>S</tns:OpCode><tns:AccountSet>1</tns:AccountSet></tns:ACHTransRecord><tns:ACHTransRecord><tns:SSS><tns:foo>bar</tns:foo></tns:SSS><tns:LocID>9505</tns:LocID><tns:FrontEndTrace>Zfoooo</tns:FrontEndTrace><tns:CustomerName>DOE,
        JOHN</tns:CustomerName><tns:CustomerRoutingNo>123456780</tns:CustomerRoutingNo><tns:CustomerAcctNo>00002323044</tns:CustomerAcctNo><tns:OriginatorName>TBD</tns:OriginatorName><tns:TransactionCode>WEB</tns:TransactionCode><tns:CustTransType>D</tns:CustTransType><tns:CustomerID>TBD</tns:CustomerID><tns:CustomerAcctType>C</tns:CustomerAcctType><tns:TransAmount>575.45</tns:TransAmount><tns:CheckOrTransDate>2016-08-10</tns:CheckOrTransDate><tns:EffectiveDate>2016-08-10</tns:EffectiveDate><tns:Memo>????</tns:Memo><tns:OpCode>S</tns:OpCode><tns:AccountSet>1</tns:AccountSet></tns:ACHTransRecord></tns:ACHRecords></tns:InpACHFile></tns:SendACHTransBatch></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://achworks.com/SendACHTransBatch"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><soap:Fault><faultcode>soap:Server</faultcode><faultstring>Server
        was unable to process request. ---&gt; Object reference not set to an instance
        of an object.</faultstring><detail /></soap:Fault></soap:Body></soap:Envelope>
  recorded_at: Wed, 10 Aug 2016 16:47:57 GMT
recorded_with: VCR 3.0.3
